<div class="hero-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4 text-white">Effortless booking for </br> <i><span class="word-highlight">exceptional</span></i> stays.</h1>
        <p class="lead text-white">Discover thousands of places to stay around the world</p>
        <%= form_with url: apartments_path, method: :get, local: true, class: "d-flex justify-content-center" do |form| %>
          <%= form.text_field :location, class: "form-control form-control-lg", placeholder: "Enter a city or destination" %>
          <%= form.submit "Search", class: "btn btn-primary ml-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="presentation container my-5">
  <div class="row align-items-center">
    <div class="col-7 align-items-center">
      <div>
        <h2>Discover new places </br><i>with <span class="word-highlight">Nestaway</span></i>.</h2>
        <p>Experience the freedom and flexibility of apartment living while immersing yourself in the local culture.
        Our curated selection of unique accommodations offers something for every traveler, from cozy studios to spacious penthouses.</p>
      </div>
    </div>
    <div class="col-5">
      <img src="https://images.pexels.com/photos/2476632/pexels-photo-2476632.jpeg" alt="voyage avec Nestaway" class="img-fluid rounded presentation-img">
    </div>
  </div>
</div>


<section class="container my-5">
  <h2 class="text-center">Popular Destinations</h2>
  <p class="text-center">Discover our highly qualitative selection of flats</p>
  <div class="row">
    <% @apartments.each do |apartment| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%# <img src="<%= @apartment.photos %> <%#" class="card-img-top" alt="<%= apartment.address %>

        <% if apartment.photos.attached? %>
          <%= image_tag apartment.photos.first, alt: "Apartment photo", height: 300 %>
        <% else %>
          <p>No photos uploaded.</p>
        <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= apartment.address %></h5>
            <%# <p class="card-text">From $<%= apartment.price> per night</p> %>
            <%= link_to 'View Details', apartment_path(apartment), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="cta-section bg-dark text-white py-5">
  <div class="container text-center">
    <h2 class="display-4">Ready to List Your Space?</h2>
    <p>Join thousands of hosts and start earning today.</p>
    <%= link_to 'Become a Host', new_apartment_path, class: 'btn btn-light' %>
  </div>
</section>
