<div class="container">
  <h1>Apartments</h1>

  <%# Search bar %>

  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: apartments_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%#  %>
  <ul class="list-group list-group-horizontal">
    <% @apartments.each do |apartment| %>
      <li class="list-group-item mx-3">
        <%= apartment.title %><br>

        <% if apartment.photos.attached? %>
          <%= image_tag apartment.photos.first, alt: "Apartment photo", height: 300 %>
        <% else %>
          <p>No photos uploaded.</p>
        <% end %>

        <%= apartment.address %><br>
        <%= link_to "see apartment", apartment_path(apartment), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>

<%# Mapbox %>

<%= @markers.to_json %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
