<div class="container">
  <h1>Apartments</h1>

  <ul class="list-group list-group-horizontal">
    <% @apartments.each do |apartment| %>
      <li class="list-group-item mx-3">
        <%= apartment.title %><br>

        <% if apartment.photos.attached? %>
          <%= image_tag apartment.photos.first, alt: "Apartment photo", height: 300 %>
        <% else %>
          <p>No photos uploaded.</p>
        <% end %>

        <%= apartment.address %><br>
        <%= link_to "see apartment", apartment_path(apartment), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>

<%# Mapbox %>

<%= @markers.to_json %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
