<h1>New Apartment</h1>

<%= form_with(model: @apartment, local: true) do |form| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> This apartment can not be saved:</h2>

      <ul>
        <% @apartment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price_per_night %>
    <%= form.number_field :price_per_night %>
  </div>

<div>
    <%= form.label :photos %>
   <%= form.file_field :photos, multiple: true %>
  </div>

  <div>
    <%= form.submit "Create Apartment" %>
  </div>
<% end %>
